<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <link rel="stylesheet" type="text/css" href="../css/global.css"/>
    <link rel="stylesheet" type="text/css" href="../css/<%= css %>.css"/>

    <script type="text/javascript" src="../script/jQuery-2.2.4-min.js"></script>
    <script type="text/javascript" src="../script/home.js"></script>
    <script type="text/javascript" src="../script/main.js"></script>

    <title>微博 - 春日野穹</title>
</head>

<body>
<!-- header开始-->
<table id="header" align="center" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td width="20%" align="center"><img src="../images/logo.png" width="178" height="62"/></td>
        <td width="45%" align="right">
            <table border="0" align="right" cellpadding="0" cellspacing="0" id="daohang">
                <tr>
                    <td width="20%"><a href="home.html">我的首页</a></td>
                    <!--<td width="20%"><a href="friend.html">我的好友</a></td>-->
                    <td width="20%"><a href="user.html">我的信息</a></td>
                </tr>
            </table>
        </td>
        <td width="25%" align="right">
            <table id="welcome" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="30" height="30" rowspan="2" class="userface_bg">
                        <img src="../face/xyz.jpg" border="0" width="20" height="20"/>
                    </td>
                    <td>欢迎您，<%= user.name %></td>
                </tr>
                <tr>
                    <td><a href="index.html">[ 退出 ]</a></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!-- header结束-->
<!-- container 开始-->
<table border="0" align="center" cellpadding="0" cellspacing="0" id="container">
    <tr>
        <td width="670" height="600" valign="top">
            <%- table %>
            <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" id="menu">
                <tr>
                    <td width="33%" align="center">
                        <table width="165" border="0" align="center" cellpadding="0" cellspacing="0">
                            <tr>
                                <td align="center" class="menu_btn">全部</td>
                                <td align="center"><a href="friend.html">关注</a></td>
                                <td align="center">明星</td>
                            </tr>
                        </table>
                    </td>
                    <td width="18%" align="right">&nbsp;</td>
                    <td width="49%" align="center">
                        <form id="form1" name="form1" method="post" action="">
                            <input name="textfield" type="text" class="input" id="textfield"/>
                            <input name="button" type="submit" class="btnsearch" id="button" value="搜索"/>
                        </form>
                    </td>
                </tr>
            </table>
            <!-- weibos 开始-->
            <% weibos.forEach(function (weibo) { %>
            <table id="weibos" width="90%" border="0" align="center" cellpadding="3" cellspacing="0">
                <tr>
                    <td rowspan="3" align="center" valign="top">
                        <img src="<%= weibo.userImg %>" width="50" height="50"/>
                    </td>
                    <td width="88%" class="content">
                        <a href="user.html"><%= weibo.name %></a>
                        <img src="../icon/v.gif" width="11" height="10" align="middle"/>
                        <%= weibo.passage %>
                    </td>
                </tr>
                <% if (weibo.img) { %>
                <tr>
                    <td>
                        <img src="<%= weibo.img %>" width="89" height="120">
                    </td>
                </tr>
                <% } %>
                <tr>
                    <td height="25">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0" id="weibos_status">
                            <tr>
                                <td>5月28日 18:56</td>
                                <td align="right">转发(0)&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;收藏&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;评论(0)</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <% }) %>
            <table align="center" id="page">
                <tr>
                    <td align="right">第1页
                        &nbsp; &nbsp; <input name="button2" type="button" class="nextpage" id="button2" value="下一页"/>
                    </td>
                </tr>
            </table>
            <!-- weibos 结束-->
        </td>
        <td width="280" align="center" valign="top" class="pageright">
            <!-- userinfo 开始-->
            <table align="center" id="userinfo">
                <tr>
                    <td width="25%" rowspan="2"><img src="<%= user.img %>" width="50" height="50"/></td>
                    <td width="75%"><a href="user.html"><%= user.name %></a></td>
                </tr>
                <tr>
                    <td valign="top"><%= user.location %></td>
                </tr>
                <tr>
                    <td colspan="2" align="left">
                        <table width="80%" border="0" align="left" cellpadding="3" cellspacing="0">
                            <tr>
                                <td align="center" class="split2"><a href="3">关注</a>
                                    <%= user.focus %>
                                </td>
                                <td align="center" class="split2"><a href="3">粉丝</a>
                                    <%= user.fan %>
                                </td>
                                <td align="center"><a href="#">微博</a>
                                    <%= user.weibo_num %>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="split1"><a href="#">个人账户设置</a></td>
                </tr>
            </table>
            <table border="0" align="center" cellpadding="0" cellspacing="0" id="userlist">
                <tr>
                    <td class="title" height="29">可能感兴趣的人</td>
                    <td align="right" class="title"><a href="#">[换一换]</a></td>
                </tr>
                <% interests.forEach(function (interest) { %>
                <tr>
                    <td colspan="2">
                        <table border="0" cellpadding="0" cellspacing="0" class="userdetail">
                            <tr>
                                <td width="26%">
                                    <a href="friend.html">
                                        <img src="<%= interest.img %>" width="50" height="50" border="0"/>
                                    </a>
                                </td>
                                <td width="74%">
                                    <a href="friend.html"><%= interest.name %></a>
                                    <input name="button3" type="button" class="btnguanzhu" id="button3" value="+关注"/>
                                    <br/>
                                    <%= interest.location %>
                                    <br/>
                                    生日：<%= interest.birthday %>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <% }) %>
            </table>
            <!-- userinfo 结束--></td>
    </tr>
</table>
<!-- container 结束-->

<!--footer开始-->
<table id="footer" border="0" align="center" cellpadding="3" cellspacing="0">
    <tr>
        <td width="534" align="left"><a href="#">帮助</a>&nbsp;&nbsp; <a href="#">意见反馈</a>&nbsp;&nbsp; <a
                href="#">微博认证及合作</a>&nbsp;&nbsp; <a href="#">开放平台</a>&nbsp;&nbsp; <a href="#">微博招聘</a>&nbsp;&nbsp; <a
                href="#">微博导航</a></td>
        <td width="447" align="right">Copyright: 2011-2015<a href="#"> 微博系统 版权所有</a></td>
    </tr>
    <tr>
        <td align="left">客服电话：400 123 12345（按当地市话标准收费）</td>
        <td align="right">语言：
            <select name="select" id="select">
                <option>中文(简体)</option>
                <option>中文(繁体)</option>
            </select></td>
    </tr>
</table>
<!--footer结束-->
</body>
</html>
</html>